{% extends "layout.html" %}

{% block content %}
<h1>Hello Admin!</h1>

<table class="table table-striped mt-5" id="target">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Verified</th>
            <th>Joined</th>
            <th>User Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if users %}
        {% for user in users %}
        <tr>
            <td data-title="Id">{{ user.id }}</td>
            <td data-title="First Name">{{ user.fname }}</td>
            <td data-title="Last Name">{{ user.lname }}</td>
            <td data-title="Email">{{ user.email }}</td>
            <td data-title="Verified">{{ user.email_verified|replace({'0': 'No', '1': 'Yes'}) }}</td>
            <td data-title="Joined">{{ user.joined|date('d.m.Y') }}</td>
            <td data-title="User Role">{{ user.role }}</td>
            <td data-title=""><a href="/user/edit/{{ user.id }}" class="btn btn-primary">Edit</a></td>
            <td data-title=""><a href="#" data-toggle="modal" data-target="#delete{{ user.id }}"
                    class="btn btn-danger">Delete</a>
            </td>
        </tr>

        <!-- modal -->

        <div class="modal fade" id="delete{{ user.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="font-weight-bold">Do you really want to delete this user?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/user/delete/{{user.id}}" class="btn btn-danger">Yes, delete it!</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% block javascript %}
{{ parent() }}
<script>
    // $(window).on("load resize", function () {
    //     if ($(window).width() < 992) {
    //         $('#target').removeClass('table');
    //     } else {
    //         $('#target').addClass('table')
    //     }
    // })
    let addTableClass = function () {
        if (window.outerWidth < 992) {
            document.querySelector('#target').classList.remove("table");
        } else {
            document.querySelector('#target').classList.add("table");
        }
    }
    addEventListener('load', addTableClass);
    addEventListener('resize', addTableClass);
</script>
{% endblock %}
<style>
    @media only screen and (max-width: 992px) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        td:before {
            content: attr(data-title);
        }
    }
</style>
{% endblock %}