{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 card shadow mx-auto p-5 bg-light">
    <h3>Edit User</h3>

    {% if errorMsg %}
    <div class="alert alert-danger" role="alert">
        {% for err in errorMsg %}
        <li class="ml-2">{{ err[0] }}</li>
        {% endfor %}
    </div>
    {% endif %}

    <form action="#" method="post" class="form">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" value="{{ user.fname }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" id="fname" name="lname" value="{{ user.lname }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control">
        </div>
        <label for="email_verified">Email Verified</label>
        <div class="form-group" id="email_verified">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="email_verified" value="1" id="inlineRadio1"
                    {% if user.email_verified == 1 %}checked{% endif %}>
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="email_verified" value="0" id="inlineRadio2"
                    {% if user.email_verified == 0 %}checked{% endif %}>
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
        <label for="userRole">User Role</label>
        <div class="form-group" id="userRole">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" value="Admin" id="role1"
                    {% if user.role == 'Admin' %}checked{% endif %}>
                <label class="form-check-label" for="role1">Admin</label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="role" value="User" id="role2"
                    {% if user.role == 'User' %}checked{% endif %}>
                <label class="form-check-label" for="role2">User</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}