{% extends "layout.html" %}

{% block content %}
<h1>{{title}}</h1>

<div class="row justify-content-between">
    {% for note in notes %}
    <div class="card card col-md-5 bg-warning mt-4 p-0">
        <div class="card-body">
            <div class="row justify-content-between pl-3 pr-3">
                <h5 class="card-title">{{note.title}}</h5>
                <span class="h4">
                    <a href="/editNote/{{note.id}}"><i class="fa fa-edit text-dark mr-2" aria-hidden="true"></i></a>
                    <a href="/deleteNote/{{note.id}}"><i class="fa fa-trash text-dark" aria-hidden="true"></i></a>
                </span>
            </div>

            <p class="card-text">{{note.body}}</p>
        </div>
        <footer class="card-footer text-muted small">Created at {{note.created_at|date("d.m.Y \\a\\t G:i")}} by
            {{note.fname}}
            {{note.lname}}</footer>
    </div>
    {% endfor %}
</div>
{% endblock %}