{% extends "layout.html" %}

{% block content %}

<div class="col-md-6 card shadow bg-light p-5 mb-4 mx-auto">
    <form action="#" method="post" class="form">
        <h3>Retrieve Password</h3>
        {% if errorMsg %}
        <div class="alert alert-danger" role="alert">
            {% for err in errorMsg %}
            <li class="ml-2">{{ err[0] }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="email">Please enter your email</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}