{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 card shadow mx-auto p-5 bg-light">
    <h3>Login</h3>
    {% if errorMsg %}
    <div class="alert alert-danger" role="alert">
        {% for err in errorMsg %}
        <li class="ml-2">{{ err[0] }}</li>
        {% endfor %}
    </div>
    {% endif %}
    <form action="#" method="post" class="form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="Password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="remember_me">Remember Me <input type="checkbox" name="remember me" id="remember_me"
                    value="on"></label>
        </div>
        <div class="row justify-content-between pl-3 pr-3">
            <input class=" btn btn-primary" type="submit" value="Login" class="btn btn-primary">
            <a class="mt-2" href="/forgottenpw">forgot password?</a>
        </div>

    </form>
</div>

{% endblock %}